/*--------------------------------------
 * List group
 *-------------------------------------- */

.list-group-header {
    margin-top: 22px;
}

.list-checkbox-item {
    border: none !important;
    .checkbox {
        margin: 0 !important;
    }
}

/*--------------------------------------
 * File input
 *-------------------------------------- */

.file label {
    margin-top: 0px !important;
    width: 100% !important;
    padding: 10px 20px;
    height: 51px !important;
}

.file .input-group {
    width: 100% !important;
}


/*----------------------------------------
 * Avatar
 *---------------------------------------- */

.profile-element .img-circle {
    width: 48px;
    height: 48px;
}
